<label class="floating-label text-left">
  <span>{{ label }}</span>

  <input
    class="input w-full"
    [type]="type"
    [max]="maxDate()"
    [value]="control.value"
    (input)="onInput($event)"
    (blur)="onBlur()"
    [placeholder]="label"
    [class.input-error]="control.invalid && control.touched"
    [class.input-success]="control.valid && control.touched"
  />
   @if (control.hasError('dateOfBirth') && control.touched) {
    <div class="validation-hint text-error text-xs">
      You must be 18 or over</div>
    }
   @if (control.hasError('email') && control.touched) {
    <div class="validation-hint text-error text-xs">
      Invalid email address</div>
    }
  @if (control.hasError('email') && control.touched) {
    <div class="validation-hint text-error text-xs">
      Invalid email address</div>
    }

  @if (control.hasError('minlength') && control.touched) {
    <div class="validation-hint text-error text-xs">
      Password must be at least 4 characters
    </div>
  }

  @if (control.hasError('maxlength') && control.touched) {
    <div class="validation-hint text-error text-xs">
      Password must be no more than 8 characters
    </div>
  }
</label>
